<h1>employee list!</h1>
<div class="card-box mb-30">
    <button
    type="button"
    class="btn btn-sm text-white bg-dark mr-3 mt-2 ml-2"
    routerLink="/home">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>

    
    <div class="pb-20">
    
      <mat-table #table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="employeeId">
            <mat-header-cell *matHeaderCellDef mat-sort-header="employeeId" > Id </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.employeeId }}</mat-cell>
        
        </ng-container>
        <ng-container matColumnDef="employeeNom">
            <mat-header-cell *matHeaderCellDef mat-sort-header>employeeNom </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.employeeNom}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="employeeAdresseMail">
            <mat-header-cell *matHeaderCellDef mat-sort-header> employeeAdresseMail </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.employeeAdresseMail}}</mat-cell>
          </ng-container>
          
          
          
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator  [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" >
        </mat-paginator>
        
        
        </div>
      </div>