<nav >
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/demande-client" routerLinkActive="active" class="nav-link">Back Home</a>
        </li>
    </ul>
</nav>
<p>Votre demandee est effectué avec sucess!
    Svp vous devez attende la confirmation de l'admin
</p>
<div *ngIf="demandeClientType">
    <h2>Détails de la demande de congé</h2>
    <p><strong>Nom :</strong> {{ demandeClientType.demandeclientTypeNom }}</p>
    <p><strong>Prenom: :</strong> {{ demandeClientType.demandeclientTypePrenom}}</p>
    <p><strong>Date de début :</strong> {{ demandeClientType.demandeclientDateDebutDemande | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Date de fin :</strong> {{ demandeClientType.demandeclientDateFinDemande | date: 'dd-MM-yyyy' }}</p>
    <p><strong>Version: :</strong> {{ demandeClientType.demandeclientTypeVersion }}</p>
    <p><strong>État :</strong> {{ demandeClientType.etat?.etatLibelle }}</p>
    <p><strong>ID de membre :</strong> {{ demandeClientType.membreId.membreId }}</p>
  </div>
