<button
type="button"
class="btn btn-sm text-white bg-dark mr-3 mt-2 ml-2"
routerLink="/home/demandeclient-list">
<i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>

<h2>la  demande de ce client  a été convenu que ce sera dans nos services ! 
    

    <button type="button" routerLink="/add-client"
              
                class="btn float-right btn-success mb-2"
                (click)="client(demandeclienttype.demandeClientTypeId)"
                >
                <i class="icon-copy ion-android-add"></i>
   </button>

    
    
</h2>
